:root{
    --primary-background-color:#2c3e50;
    --secondary-background-color:#eeeeee;
}

body{
    text-align: center;
    font-size: 100%;
}
.panel{
    background-color: #ffffff;
    padding: 3.75rem 0;
}
.panel_dark{
    background-color: var(--secondary-background-color);
}
h3{
    margin-bottom: 1.8rem;
}
/*Header*/
header{
    background-color: var(--primary-background-color);
    padding:.75rem 0; 
    border-bottom: 1px solid;
}

nav ul{
    list-style: none inside;
}
nav li{
    display: inline-block;
}
header li:last-child{
    margin-right: 0;
}
header nav a {
    color:#7389a1;
    transition: color 1s linear;
}
header nav a:hover{
    color: #ffffff;
    text-decoration: none;
}
/*Slogan*/
.slogan{
    background-color: var(--primary-background-color);
}
.slogan h1{
    color: #ffffff;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.slogan h1{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
/*about_us*/
.about_us p{
    margin-bottom: 0;
}
.about_us img {
    padding: 5.6rem 0;
    border-radius: 500px;
}
/*our team*/
.our_team p:first-child{
    margin-bottom: 1.8rem;
}
.our_team p{
    text-align: justify;
}

.our_team .btn{
    padding-left: 2rem;
    padding-right: 2rem;
}
/*Portafolio*/
.portafolio p{
    margin-bottom: 2.8rem
}
.portafolio .nav{
    margin-bottom: 2.8rem
}

.portafolio .nav-link{
    color:#cccccc;
    border: 1px solid #cccccc;
}
.portafolio .nav-link.active{
    background-color: transparent;
    color:var(--primary-background-color);
    border-color:var(--primary-background-color);
}

.portafolio li:last-child{
    margin-right: 0;
}

.portafolio .nav-link:hover{
    color: #ffffff;
    background-color: #2c3e50;
    text-decoration: none;
}
.portafolio .card-body{
    background-color: #9a9a9a;
    color: #ffffff;
    text-align: left;
}
.portafolio .card p{
    margin-bottom: 0;
}
.portafolio .card{
    margin-bottom: 3rem;
    position: relative;
}
.portafolio .card-container:nth-last-child(1) .card,
.portafolio .card-container:nth-last-child(2) .card,
.portafolio .card-container:nth-last-child(3) .card{
    margin-bottom: 0;
    border: 3px solid yellowgreen;
}
@media(max-width){
    .portafolio .card-container:nth-last-child(1) .card,
    .portafolio .card-container:nth-last-child(2) .card{
        margin-bottom: 40px;
        border: 0 none;
    }
}

.portafolio .overlay{
    background-color: #9a9a9a;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.portafolio .card:hover .overlay{
    opacity: 1;
}
/*Contact*/
.contact p{
    margin-bottom: 3.125rem;
}
.contact .form-group{
    text-align: left;
}
.contact .btn-primary{
    background-color: var(--primary-background-color);
    padding-left: 2rem;
    padding-right: 2rem;
}
/*Footer*/
footer a{
    color: #2c3e50;
}
footer div{
    color: #bebebe;
}